node_modules
.env
wp-content/uploads/
!wp-content/uploads/wpforms
!wp-content/uploads/wpcf7_uploads/
wp-content/themes/twentytwentyfive/
wp-content/themes/twentytwentyfour/ 
wp-content/themes/twentytwentythree
