@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

body {
  background-position: 15% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

input[type="text"],
input[type="email"],
textarea {
  @apply bg-blue-50 p-2 rounded-xs indent-0.5 text-black w-[298px];
}

textarea {
  @apply h-40;
}

input[type="submit"] {
  @apply p-2 rounded-xs bg-emerald-600 cursor-pointer text-white font-semibold;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: none;
  outline: none;
}

input[type="text"]:active,
input[type="email"]:active,
textarea:active {
  border: none;
  outline: none;
}

.swiper {
  @apply w-full h-full;
}

#wpcf7-f9-o1 p {
  @apply my-4 active:outline-0;
}

#wpcf7-f9-o1 p label {
  @apply text-xl;
}

.whatsapp-icon-contact {
  @apply text-green-500 text-3xl md:text-5xl me-2;
}

.instagram-icon-contact {
  @apply text-orange-500 text-3xl md:text-5xl me-2;
}

.whatsapp-icon-footer,
.instagram-icon-footer {
  @apply text-black text-2xl sm:text-4xl;
}

.contact-submit-button {
  @apply !bg-blue-900 !rounded w-full;
}

.contact-submit-label {
  @apply !text-white !font-bold !text-xl;
}

.contact-submit-input {
  @apply !rounded;
}

/* .swiper-container {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  width: auto !important;
}

.swiper-slide {
  width: auto;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;

  flex-shrink: 0;
} */

.bg-top-center {
  background-position: top center;
}

@media (min-width: 768px) {
  input[type="text"],
  input[type="email"],
  textarea {
    @apply w-[516px];
  }
}

@media (min-width: 1024px) {
  input[type="text"],
  input[type="email"],
  textarea {
    @apply w-[420px];
  }
}

/* @media (min-width: 1280px) {
  input[type="text"],
  input[type="email"],
  textarea {
    @apply w-[500px];
  }
} */
